* {
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
div {
  padding-bottom: 10px;
}
hr{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    border: 0;
  border-top: 1px solid black;
  }
/* ===================menu ===========================*/
@media (min-width: 600px) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
  }

  header {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    font-family: "Cormorant Garamond", serif;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1rem;
    gap: 20px;
  }

  .banner {
    padding: 0.1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .banner ul {
    list-style: none;
  }

  .logooverskrift {
    width: 50%;
  }
}

/* ----------Links---------- */
a {
  text-decoration: none;
  color: #000;
  font-family: "Cormorant Garamond", serif;
}
.links {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 1.2rem;
  padding-right: 50px;
  color: #000;
}
li{
 list-style: none; 
}
/*==================== Burgermenu =======================*/
.toggle-btn {
  display: none;
}

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    height: 44px;
    padding: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    padding-right: 2.8rem;
    font-family: "Cormorant Garamond", serif;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}
/*---------tilbage til toppen-----------*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 40px;
  font-size: 10px;
  font-family: "Cormorant Garamond", serif;
}

#myBtn:hover {
  background-color: grey;
}
/*-------- footer -------------*/
footer {
  display: flex;
  margin-left: 10%;
  font-family: "Cormorant Garamond", serif;
}

/*================= first section ================*/
main {
  margin-left: 10%;
  margin-right: 10%;
}

#first_section .section_wrapper {
  display: grid;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
}
/*================= fifth section ================*/
 .seprojekter {
  padding-top: 10px;
  width: 30%;
}
/*==================font og skrift===============*/
#first_section h2 {
  font-size: 1.7rem;
  font-family: "Cormorant Garamond", serif;
}

#first_section h4 {
  font-size: 1rem;
  font-family: "Cormorant Garamond", serif;
  padding-bottom: 5%;
}

h3 {
  font-size: 2rem;
  font-family: "Cormorant Garamond", serif;
}
h4 {
  font-size: 2rem;
  font-family: "Cormorant Garamond", serif;
}
h5 {
  font-size: 2rem;
  font-family: "Cormorant Garamond", serif;
}
h6 {
  font-family: "Cormorant Garamond", serif;
}
p {
  font-family: "Cormorant Garamond", serif;
}

/*================ tilbage til projekter==============*/
#tilbagepil {
  width: 50%;
}
/*=========================================== website version ===================================*/
@media (min-width: 600px) {
  #tilbagepil {
    width: 10%;
  }
  main {
    margin-left: 5%;
    margin-right: 5%;
  }
  h3,
  h4,
  h6,
  p {
    font-family: "Cormorant Garamond", serif;
  }
  div {
    padding-bottom: none;
  }
  hr {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 8%;
    margin-bottom: 8%;
  }
  /*================= first section ================*/
  #first_section {
    display: grid;
    grid-template-columns: 1fr 0.5fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
  }
  #first_section .p1 {
    grid-column: 3/4;
    width: 75%;
    grid-row: 1;
  }
  .slide-in-left {
    /* hører til safari og typisk iphone og ipad*/
    -webkit-animation: slide-in-left 3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    /* til alle andre browsere*/
    animation: slide-in-left 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-500px);
      transform: translateX(-500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  /*================= second section ================*/
  #second_section {
    padding-top: 10%;
    display: grid;
    grid-template-columns: 0.2fr 1.5fr 0.2fr 0.5fr 1fr;
  }
  #second_section .section_tekst {
    padding-top: 20%;
    grid-column: 2;
    grid-row: 1/3;
  }
  .billeder1 {
    grid-column: 4/6;
    grid-row: 1;
    width: 50%;
  }
  #second_section ul {
    list-style: none;
    padding-left: 35%;
    padding-top: 1%;
  }
  #second_section h6 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  #second_section h5 {
    text-align: center;
  }
  /*================= third section ================*/
  #third_section {
    padding-top: 5%;
    display: grid;
    grid-template-columns: 0.2fr 0.5fr 0.2fr 1.5fr 0.2fr;
  }
  #third_section .section_tekst {
    grid-column: 4;
    grid-row: 1/3;
  }
  .billeder2 {
    grid-column: 3/4;
    grid-row: 1;
    width: 40%;
    justify-content: right;
    display: grid;
  }
  #third_section ul {
    list-style: none;
    padding-left: 37%;
    padding-top: 1%;
  }
  #third_section h6 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  #third_section h5 {
    text-align: center;
  }

  /*================= fourth section ================*/
  #fourth_section {
    padding-top: 5%;
    display: grid;
    grid-template-columns: 0.2fr 1.5fr 0.2fr 0.5fr 1fr;
  }
  #fourth_section .section_tekst {
    padding-top: 12%;
    grid-column: 2;
    grid-row: 1/3;
  }
  .billeder3 {
    grid-column: 4/6;
    grid-row: 1;
    width: 50%;
  }
  #fourth_section ul {
    list-style: none;
    padding-left: 37%;
    padding-top: 1%;
  }
  #fourth_section h6 {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  #fourth_section h5 {
    text-align: center;
  }

  /*================= fifth section ================*/
  #fifth_section {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    place-items: center;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 15%;
    width: 80%;
  }
  .seprojekter {
    padding-top: 10px;
    width: 170px;
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    font-size: 18px;
    font-family: "Cormorant Garamond", serif;
  }

  #myBtn:hover {
    background-color: grey; 
  }
}
